
php_flag display_errors  off
php_value error_reporting 0
php_flag log_errors off

php_value date.timezone "America/Sao_Paulo"
#php_value date.timezone "America/Cuiaba"



#php_value date.timezone "America/Porto_Velho2"
#php_value date.timezone "America/Porto_Velho2"
#php_value date.timezone "America/Porto_Velh2o"
#php_value date.timezone "America/Porto_Velh2o"
